
<%- include('partials/head.ejs') %>
<link rel="stylesheet" href="/styles/home.css">
</head>
  <body>
<%- include('partials/header.ejs') %>

<div class="container px-4 py-5" id="featured-3">
   <% if(!blogs || blogs.length===0){ %>
      <p>No blogs available</p>
      <a href="/create-blog" class="btn btn-primary btn-lg px-4 gap-3">Create Blog</a>
   <% } else { %>

     <h2 class="pb-2 ">All Blogs</h2>
     <div class="container  ">
         <div class="row">
            <% for(const blog of blogs){ %>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="<%= blog.image %>" class="card-img-top  img-thumbnail" alt="Blog Image" >
                    <div class="card-body">
                      <h5 class="card-title"><%= blog.title %></h5>
                      <p class="card-text"><%= blog.content.length > 200 ? blog.content.slice(0, 200) + "..." : blog.content %></p>
                      <div class="d-flex gap-2 align-items-center">

                          <a href="/blogs/<%= blog.id %>" class="btn btn-primary">View Post</a>
                          <form action="/delete-post/<%= blog.id %>" method="POST">
                              <button type="submit" class="btn btn-danger">Delete Post</button>
                          </form>
                      </div>
                    </div>

                </div>

            </div>
</div>
<% } %>


    <% } %>
  </body>
</html>
